{% extends 'base.html' %}

<!-- Extends gets the base content from the base.html
    block contents are derived and declared on the base.html file too
    The code below is original to the page that uses index.html
-->
{% block content %}
    <h1>{% block title %} Book Thoughts {% endblock %}</h1> 
    <!-- Using Jinja logic engine -->
    {% for book in books %}
    <div class='book'>
        <h3>#{{ book[0] }} - {{ book[1] }} by {{ book[2] }}</h3>
        <i><p>INSPIRING QUOTES:<br>
            {{ book[3] }} </p></i>
        <p class='review'>{{ book[4] }}</p>

        <!-- Form to send data to Falsk backend. Send book-id for loading and edit -->
        <form action="/edit" method="post" role="form">
            <input type="hidden" id="index" name="index" value="{{ book[0] }}">
            <a href="{{ url_for('edit') }}" target="_parent"><button type="submit" name="index" value="edit">Edit</button></a>
        </form>

    </div>
    {% endfor %}
    
    <div>
        <a href="{{ url_for('review') }}" target="_parent"><button type="submit">Review new book</button></a>
    </div>
{% endblock %}

