{% extends 'base.html' %}

<!-- Extends gets the base content from the base.html
    block contents are derived and declared on the base.html file too
    The code below is original to the page that uses index.html
-->
{% block content %}
    <h1>{% block title %} Book Recommendation {% endblock %}</h1> 
    <h1>Welcome to your Haul of Thoughts</h1>
    <h2>Here you will be able to get a book recommendation</h2>
    <body>
        It will be able thanks to a recommendation system made of a KNN model using the goodreads dataset.
    </body>
{% endblock %}